@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');
html{
    box-sizing: border-box;
    overflow: hidden;
}
*,*:before,*:after {
    box-sizing: inherit;
    margin: 0;
}
.navwrap{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(4,3,60,1) 29%, rgba(211,0,255,1) 52%, rgb(253, 117, 240) 78%);
    display: flex;
    justify-content: flex-end;
    align-items:center;
 
}
.navwrap .logo{
    margin: 5px auto 5px 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 10px 0 10px 0;
    background: linear-gradient(rgba(255, 0, 0, 0.973), rgb(223, 62, 255));
    transition: all 1s;
}
.navwrap .logo2{
    margin: 0px auto -1px 2px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(223, 62, 255, 0));
    transition: all 1s;
}
.navwrap .logo2:hover{
    margin: 0px auto -1px 2px;
    width: 45px;
    height: 45px;
    border-radius: 0 100px 0 100px;
    background: linear-gradient(rgba(255, 100, 255, 0.973), rgb(255, 255, 255));
    transition: all 1s;
}
.navwrap .logo:hover{
    margin: 5px auto 5px 10px;
    width: 45px;
    height: 45px;
    border-radius: 100px 0 100px 0;
    background: linear-gradient(rgba(255, 100, 255, 0.973), rgb(255, 255, 255));
    transition: all .55s;
}
.link-list > *{
    display: inline;
}
.link{
    font-family:Poppins;
    text-decoration: none;
    list-style: none;
    color: rgb(233, 22, 252);
}
.navwrap .btn{
    border-radius: 20px;
    padding: 2px 20px;
    margin-right: 20px;
    border: 3px solid pink;
    cursor: pointer;
    background:linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    transition: all .2s;
}
.navwrap .btn:hover{
    border-radius: 20px;
    padding: 4px 24px;
    margin-right: 20px;
    border: 3px solid pink;
    cursor: pointer;
    background:linear-gradient(rgb(255, 121, 244), rgb(231, 223, 149));
    transition: all .2s;
}
 #source{
    border-radius: 20px;
    border: 8px solid rgba(0, 0, 0, 0);
    font-family: Poppins;
    background: rgb(1, 1, 29);
    color: white;
}
#input{
    display: flex;
    flex-wrap: wrap;
    background:linear-gradient(rgb(255, 121, 244), rgb(231, 223, 149));
}
#lbl{
    font-family: Prompt;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 15px;
    color:rgb(3, 1, 29);
}
#lblOut{
    display: block;
    font-family: Prompt;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 0px;
    color:rgb(3, 1, 29);
    background: rgb(231, 223, 149);
}
#svg-js{
    width: 30px;
    border-radius: 4px;
    height: 25px;
    color: rgb(247, 191, 70);
    background:rgb(1, 1, 29);
    position: relative;
    top: 15px;
    left: 200px;
}
#svg-css{
    width: 30px;
    border-radius: 4px;
    height: 25px;
    color: rgb(70, 117, 247);
    background:rgb(1, 1, 29);
    position: relative;
    top: 15px;
    left: 280px;
}
#svg-html{
    width: 30px;
    border-radius: 4px;
    height: 25px;
    color: rgb(255, 0, 0);
    background: rgb(1, 1, 29);
    position: relative;
    top: 15px;
    left: 250px;
}
#output{
    height: 90vh;
    border-top: 3px solid pink;
}
